.myModel {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left:0;
    z-index: 50;
    background-color: rgba(100, 100, 100, .5);
}
.myModel .myModel-dialog {
    position: fixed;
    width: 40vw;
    top:30vh;
    left: 30vw;
    z-index: 100;
    background-color: #FFF;
    box-shadow: 0 2px 8px rgba(0,0,0,.25);
    padding: 16px;
    border-radius: 5px;
}
.myModel-body {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.myModel-title-error {
    color:rgb(184, 55, 55)
}
.myModel-title-success {
    color:rgb(44, 151, 76)
}